<div class="row">
    <div class="col-md-10">
        <h3>Cadastrar Produto</h3>
    </div>
    <div class="col-md-2 text-end">
        <button id="Cadastrar" name="Cadastrar" type="button" class="btn btn-success"
            routerLink="../listar">Voltar</button>

    </div>
    <div class="col-md-2">
    </div>
</div>
<br>
<form>
    <fieldset disabled>
        <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Nome Produto</label>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
        </div>
        <div class="mb-3">
            <label for="disabledSelect" class="form-label">Categoria Produto</label>
            <select id="disabledSelect" class="form-select">
                <option>Disabled select</option>
            </select>
        </div>
        <div class="mb-3">

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>