<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/home">
                <i class="bi bi-grid"></i>
                <span>Home</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#mercadoria-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Mercadoria</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="mercadoria-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/categoria">
                        <i class="bi bi-circle"></i><span>Categoria</span>
                    </a>
                </li>

                <li>
                    <a href="/subcategoria">
                        <i class="bi bi-circle"></i><span>Sub-Categoria</span>
                    </a>
                </li>

                <li>
                    <a href="/produto">
                        <i class="bi bi-circle"></i><span>Produto</span>
                    </a>
                </li>
                
            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#financeiro-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Financeiro</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="financeiro-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/formapagt">
                        <i class="bi bi-circle"></i><span>Forma de pagamento</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#usuario-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Controle de usuários</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="usuario-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/usuario">
                        <i class="bi bi-circle"></i><span>Usuários</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#comercial-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Comercial</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="comercial-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/cliente">
                        <i class="bi bi-circle"></i><span>Clientes</span>
                    </a>
                </li>
            </ul>

            <ul id="comercial-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/pedido">
                        <i class="bi bi-circle"></i><span>Pedidos</span>
                    </a>
                </li>
            </ul>

            <ul id="comercial-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/estado">
                        <i class="bi bi-circle"></i><span>Estados</span>
                    </a>
                </li>
            </ul>

            <ul id="comercial-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/fornecedor">
                        <i class="bi bi-circle"></i><span>Fornecedores</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->


        


        

    </ul>

</aside><!-- End Sidebar-->