<div class="row">
    <div class="col-md-10">
        <h3>Formulário de Sub-Categoria</h3>
    </div>
    <div class="col-md-2 text-end">
        <button id="Voltar" name="Voltar" type="button" class="btn btn-success"
            routerLink="/subcategoria/listar">Voltar</button>
    </div>
    <div class="col-md-2">
    </div>
</div>
<br>

<form>
    <fieldset>
        <div class="mb-3">
            <label for="descricao" class="campo-obrigatorio">Descricao</label>
            <input type="text" id="descricao" class="form-control" [(ngModel)]="descricao" name="descricao">

            <br>

            <label for="categoria" class="form-label, campo-obrigatorio">Categoria</label>
            <select class="form-control" [(ngModel)]="categoria" id ="categoria" name="categoria">
                <option *ngFor="let categoria of categorias" [value]="categoria.indice"
                    [innerHTML]="categoria.descricao"></option>
            </select>
        </div>





        <button type="submit" class="btn btn-primary" (click)="salvar()">Salvar</button>


    </fieldset>
</form>