<div class="row">
    <div class="col-md-10">
        <h3>Categorias</h3>
    </div>
    <div class="col-md-2">

        <button id="Cadastrar" name="Cadastrar" type="button" class="btn btn-success" routerLink="../formulario">Cadastrar</button>

    </div>
</div>
<br>
<table class="table">
    <thead>
        <tr>
            <th width="3%">#</th>
            <th width="90%">Eletrônicos</th>
            <th width="3%"></th>
            <th width="3%"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Placa de Video</td>
            <td><button id="Cadastrar" name="Cadastrar" type="button" class="btn btn-primary"><i
                        class="bi bi-pencil"></i></button></td>
            <td><button id="Cadastrar" name="Cadastrar" type="button" class="btn btn-danger"><i
                        class="bi bi-trash3"></i></button></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Processador i9 9900k</td>
            <td><button id="Cadastrar" name="Cadastrar" type="button" class="btn btn-primary"><i
                        class="bi bi-pencil"></i></button></td>
            <td><button id="Cadastrar" name="Cadastrar" type="button" class="btn btn-danger"><i
                        class="bi bi-trash3"></i></button></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Monitor Sansung 24 Polegadas 240HZ</td>
            <td class="text-right"><button id="Cadastrar" name="Cadastrar" type="button" class="btn btn-primary"><i
                        class="bi bi-pencil"></i></button></td>
            <td><button id="Cadastrar" name="Cadastrar" type="button" class="btn btn-danger"><i
                        class="bi bi-trash3"></i></button></td>

        </tr>
    </tbody>
</table>